# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# project

src/main/resources/assets/curseforge_logo.png
src/main/resources/assets/chiseled_bookshelf_occupied.png

# misc

textures/
